:root {
    --color-primario: #1e1e69;
    --color-secundario: #0c0c0d;
    --color-acento: #b2b436 ;
    --color-texto:#eeeeee ;
    --fuente: "Inter", "sans-serif";

    --ancho-imagen: 30rem;
    --alto-imagen: 18rem;
    --radio-imagen: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuente);
    background-color: var(--color-secundario);
    color: var(--color-texto);

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

nav a {
    color: var(--color-acento);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color:brown;
}



main {
    padding: 3rem 0;
}



section h3 {
    color: var(--color-acento);
    margin-bottom: 2rem;
}

section img {
    width: var(--ancho-imagen);
    height: var(--alto-imagen);
    object-fit: cover;
    border-radius: var(--radio-imagen);
    margin-bottom: 1rem;

}